{% extends "base.html" %}

{% block title %}
Popular questions
{% endblock %}

{% block sidebar %}
<h1 style="color:#4C420F; font-family:'Lobster';">Popular</h1>
{% endblock %}

{% block content %}

    {% for quest in questions %}
    <a href="{{quest.id}}"> {{quest.title}} </a><br>
    {% endfor %}

    <nav><ul class="pagination">
    {% for p in paginator.page_range %}
     {% if p == page.number %}
     <li class="active">
     {% else %}
     <li>
     {% endif %}
      <a href="{{ paginator.baseurl }}{{ p }}">
      {{ p }}</a>
    </li>
    {% endfor %}
    </ul></nav>

{% endblock %}